In [70]:
import pandas as pd

In [71]:
 df = pd.read_csv('/transacciones - Hoja 1.csv')

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_transaccion      10000 non-null  int64
 1   id_cliente          10000 non-null  int64
 2   nombre_cliente      10000 non-null  object
 3   cuenta_origen       10000 non-null  object
 4   fecha               10000 non-null  object
 5   monto               10000 non-null  float64
 6   divisa              10000 non-null  object
 7   tipo_transaccion    10000 non-null  object
 8   ciudad              10000 non-null  object
 9   cuenta_destino      3370 non-null   object
 10  categoria_comercio  3352 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 859.5+ KB

In [73]:
print(df.head())

   id_transaccion  id_cliente   nombre_cliente           cuenta_origen  \
0               1        2783    Philip Knight  ES72380307822087479772
1               2        3696   William Harmon  ES74956814146097211403
2               3        6403     Amanda Lewis  ES94278160534459740595
3               4        1156  Victoria Burton  ES18259905541180196560
4               5        2653       Todd Young  ES59522414203568104424

        fecha     monto divisa tipo_transaccion     ciudad  \
0  13/09/2025  31551.32    USD    transferencia  Queretaro
1  16/09/2025  36889.11    MXN           retiro     Juarez
2  04/07/2025  30644.10    MXN           retiro      Paris
3  06/09/2025   7869.29    USD           retiro     Juarez
4  03/04/2025  37940.37    MXN           retiro     Puebla

           cuenta_destino categoria_comercio
0  ES19946920183191759474                NaN
1                     NaN                NaN
2                     NaN                NaN
3                     NaN                NaN
4                     NaN                NaN

In [74]:
 print(df.describe())

       id_transaccion    id_cliente         monto
count     10000.00000  10000.000000  10000.000000
mean       5000.50000   5491.002700  24848.036536
std        2886.89568   2591.752536  14390.664287
min           1.00000   1001.000000     50.830000
25%        2500.75000   3265.750000  12266.625000
50%        5000.50000   5492.500000  24725.150000
75%        7500.25000   7722.250000  37286.777500
max       10000.00000   9999.000000  49995.630000

In [75]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [76]:
archivo_entrada = '/transacciones - Hoja 1.csv'
archivo_salida = '/content/drive/MyDrive/posibles_fraudes.csv'

In [77]:
condicion1 = df['monto'] > 45000

condicion2 = (df['tipo_transaccion'] == 'retiro') & (df['ciudad'] == 'extranjera') & (df['monto'] > 25000)

condicion3 = (df['tipo_transaccion'] == 'transaccion') & (df['monto'] > 35000)

print(condicion1)
print(condicion2)
print(condicion3)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: monto, Length: 10000, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool
0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [78]:
ciudades_unicas = df['ciudad'].unique()
print(ciudades_unicas)

['Queretaro' 'Juarez' 'Paris' 'Puebla' 'Monterrey' 'Merida' 'Leon'
 'Torreon' 'Tijuana' 'Madrid' 'CDMX' 'Guadalajara' 'Brasil' 'Barcelona'
 'Los Angeles' 'Sidney' 'London' 'Bogota' 'Boston' 'New York'
 'Buenos Aires' 'Montreal' 'Israel' 'Cali' 'India' 'China' 'Nigeria'
 'Ucrania' 'New york' 'Peru' 'Libia' 'Texas' 'Milan' 'Moscu']

In [79]:
print(df['ciudad'].value_counts())

ciudad
CDMX            1051
Monterrey       1022
Tijuana         1018
Puebla          1017
Merida           996
Guadalajara      992
Torreon          986
Queretaro        978
Juarez           958
Leon             947
Madrid             2
Paris              2
Brasil             2
Barcelona          2
Los Angeles        2
Sidney             2
Montreal           2
Boston             2
Nigeria            2
Israel             2
Cali               2
London             1
Bogota             1
Buenos Aires       1
India              1
New York           1
China              1
Ucrania            1
New york           1
Peru               1
Libia              1
Texas              1
Milan              1
Moscu              1
Name: count, dtype: int64

In [80]:
ciudades_mexicanas = ['CDMX', 'Monterrey', 'Tijuana', 'Puebla', 'Merida', 'Guadalajara', 'Torreon', 'Queretaro', 'Juarez', 'Leon']
condicion4 = ~df['ciudad'].isin(ciudades_mexicanas)
print(ciudades_mexicanas)

['CDMX', 'Monterrey', 'Tijuana', 'Puebla', 'Merida', 'Guadalajara', 'Torreon', 'Queretaro', 'Juarez', 'Leon']

In [81]:
condicion5 = (df['tipo_transaccion'] == 'compra') & (df['categoria_comercio'] == 'viaje') & (df['monto'] > 35000)
print(condicion5)

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [82]:
df_fraudes = df[condicion1 | condicion2 | condicion3 | condicion4 | condicion5]

In [84]:
print("\n" + "="*50)
print(" DESGLOSE DE FRAUDES DETECTADOS POR CONDICI√ìN")
print("="*50)
print(f"Regla 1 (Monto > 45,000): \t\t\t{len(df[condicion1])} fraudes")
print(f"Regla 2 (Retiro Extranjero > 25,000): \t\t{len(df[condicion2])} fraudes")
print(f"Regla 3 (Transacci√≥n > 35,000): \t\t{len(df[condicion3])} fraudes")
print(f"Regla 4 (Ciudad fuera de M√©xico): \t\t{len(df[condicion4])} fraudes")
print(f"Regla 5 (Compra de Viaje > 35,000): \t\t{len(df[condicion5])} fraudes")
print("="*50)

==================================================
üìä DESGLOSE DE FRAUDES DETECTADOS POR CONDICI√ìN
==================================================
Regla 1 (Monto > 45,000): 			990 fraudes
Regla 2 (Retiro Extranjero > 25,000): 		0 fraudes
Regla 3 (Transacci√≥n > 35,000): 		0 fraudes
Regla 4 (Ciudad fuera de M√©xico): 		35 fraudes
Regla 5 (Compra de Viaje > 35,000): 		0 fraudes
==================================================

In [83]:
##Creaci√≥n de un csv con todos los posibles fraudes :)

df_fraudes.to_csv(archivo_salida, index=False)

print(f"\n Se encontraron {len(df_fraudes)} posibles fraudes.")
print(f"Los resultados se han guardado en el archivo: '{archivo_salida}'")

 Se encontraron 1022 posibles fraudes.
Los resultados se han guardado en el archivo: '/content/drive/MyDrive/posibles_fraudes.csv'