In [ ]:
import pandas as pd

df = pd.read_csv("/content/transacciones - Hoja 1.csv")

In [ ]:
print("1. CONTEO POR TIPO DE TRANSACCIÓN")
conteo_por_tipo = df.groupby('tipo_transaccion').size()
print(conteo_por_tipo)
print("\n")

1. CONTEO POR TIPO DE TRANSACCIÓN
tipo_transaccion
compra           3352
retiro           3278
transferencia    3370
dtype: int64

In [ ]:
print("2. TOP 5 TRANSACCIONES POR MONTO")
top_5_monto = df.sort_values(by='monto', ascending=False).head(5)
print(top_5_monto)
print("\n")

2. TOP 5 TRANSACCIONES POR MONTO
      id_transaccion  id_cliente     nombre_cliente           cuenta_origen  \
3444            3445        4508        Laura Price  ES25203010770036579757
5374            5375        8796     Frances Joseph  ES82043997879436965728
3330            3331        7016       Susan Barnes  ES97485046117969424317
6515            6516        7295  Samantha Caldwell  ES25328975908033588586
8904            8905        7606   Michael Melendez  ES56719779144675253265

           fecha     monto divisa tipo_transaccion       ciudad  \
3444  23/09/2025  49995.63    MXN           compra  Guadalajara
5374  27/04/2025  49992.38    EUR    transferencia         Leon
3330  03/09/2025  49988.09    USD           compra  Guadalajara
6515  13/07/2025  49986.96    USD           retiro    Queretaro
8904  03/09/2025  49981.24    USD           compra       Merida

              cuenta_destino categoria_comercio
3444                     NaN               ropa
5374  ES22967848312916265659                NaN
3330                     NaN               ropa
6515                     NaN                NaN
8904                     NaN       supermercado

In [ ]:
print("3. TRANSACCIONES EXTRANJERAS")
ciudades_mexicanas = ['CDMX', 'Monterrey', 'Tijuana', 'Puebla', 'Merida', 'Guadalajara', 'Torreon', 'Queretaro', 'Juarez', 'Leon']
transacciones_extranjeras = df[~df['ciudad'].isin(ciudades_mexicanas)]
print(transacciones_extranjeras)
print("\n")

3. TRANSACCIONES EXTRANJERAS
      id_transaccion  id_cliente       nombre_cliente           cuenta_origen  \
2                  3        6403         Amanda Lewis  ES94278160534459740595
21                22        6200           Sara Hayes  ES87715058744226080998
81                82        4041          Jesse Haley  ES24466833169075235511
151              152        1556         Nicole Blair  ES83690781662920254161
181              182        8594         Katelyn Tran  ES60362173861452778103
221              222        6970        Jose Johnston  ES22804134254660089308
268              269        3131          Carrie Pena  ES90084414001615422937
335              336        3738         Aaron Harvey  ES96820587356490596692
442              443        9954    Michael Hernandez  ES27156253917943792518
498              499        3223        William Horne  ES75827781751930120425
524              525        4306       Scott Mcintosh  ES83046975837437860916
540              541        2096    Margaret Mitchell  ES92662815268002314327
554              555        5218        Robin Pearson  ES28475057364302474310
566              567        2574         Lisa Johnson  ES26242088963500626818
592              593        4153        Nicole Suarez  ES30083208267610459564
618              619        3913       Sherri Pearson  ES52124732919913839597
638              639        1495         Seth Gilbert  ES51261789067964634031
660              661        1735      Madeline Cooper  ES41769499413912490144
686              687        5590       Eugene Simmons  ES80604305953997179771
740              741        9627        Ashley Farmer  ES31043433992568724128
753              754        1257        David Nielsen  ES65000839886320787359
800              801        7263       Daniel Simpson  ES24609743261290894812
901              902        4294       Brittany Jones  ES44767871307348356508
905              906        9589         Nicole Jones  ES17693499126045171523
1197            1198        9081            Jeff Mora  ES38410340210478334281
1256            1257        8283        Monique Smith  ES67881720808560410380
1264            1265        3316       Joseph Kaufman  ES35055614379283983518
1430            1431        7638  Michelle Montgomery  ES95088023917151535150
1612            1613        2484          Jerome Shah  ES58123872443448042894
1709            1710        2498      William Stewart  ES79279705874334044843
1985            1986        8473      Jennifer Wilson  ES99949844618135684543
2974            2975        4214     Raymond Holloway  ES99180315101292855283
5537            5538        7793         Joshua Moore  ES55490535075044428942
5764            5765        8299        Megan Johnson  ES51341855770586937804
5858            5859        3446         Colin Brooks  ES75563199836817600239

           fecha     monto divisa tipo_transaccion        ciudad  \
2     04/07/2025  30644.10    MXN           retiro         Paris
21    25/07/2025   4282.67    USD           retiro        Madrid
81    03/08/2025  38341.71    MXN           compra        Brasil
151   22/04/2025  13329.34    EUR           compra     Barcelona
181   31/07/2025   9605.27    USD           retiro   Los Angeles
221   31/03/2025   3196.42    EUR           compra        Sidney
268   24/05/2025  13032.16    MXN    transferencia        London
335   06/08/2025  36990.43    MXN    transferencia        Bogota
442   09/09/2025  44483.26    USD           compra        Boston
498   01/06/2025  22475.55    MXN           retiro         Paris
524   04/04/2025  12824.76    EUR    transferencia      New York
540   09/04/2025  12425.61    EUR           retiro   Los Angeles
554   20/05/2025  34115.59    EUR           retiro        Madrid
566   17/04/2025   8137.72    EUR           retiro        Sidney
592   12/09/2025  47476.65    USD           retiro  Buenos Aires
618   12/04/2025  34195.61    USD           retiro      Montreal
638   01/09/2025  40424.73    EUR           retiro        Israel
660   25/05/2025  43041.73    EUR    transferencia        Boston
686   12/06/2025   2854.43    USD    transferencia        Israel
740   04/04/2025  16775.75    USD    transferencia          Cali
753   19/08/2025  31318.31    EUR           retiro         India
800   03/04/2025  20674.79    EUR           compra        Brasil
901   19/09/2025  45403.95    MXN           retiro         China
905   30/08/2025  15693.99    EUR           retiro       Nigeria
1197  29/04/2025   2455.45    EUR           retiro       Nigeria
1256  10/05/2025  22514.40    EUR           retiro       Ucrania
1264  09/06/2025  14066.14    EUR           retiro          Cali
1430  31/07/2025  49826.04    EUR           retiro      New york
1612  10/06/2025   3265.72    USD           retiro          Peru
1709  14/08/2025  27378.89    EUR           retiro         Libia
1985  21/08/2025  15966.81    USD           retiro         Texas
2974  17/04/2025  19112.75    USD    transferencia     Barcelona
5537  11/04/2025   8288.67    MXN           retiro      Montreal
5764  28/07/2025   6398.46    EUR    transferencia         Milan
5858  11/09/2025  33457.85    EUR           retiro         Moscu

              cuenta_destino categoria_comercio
2                        NaN                NaN
21                       NaN                NaN
81                       NaN         tecnologia
151                      NaN       supermercado
181                      NaN                NaN
221                      NaN         tecnologia
268   ES64550640167281989000                NaN
335   ES91517096893090446353                NaN
442                      NaN          servicios
498                      NaN                NaN
524   ES85873274015008257157                NaN
540                      NaN                NaN
554                      NaN                NaN
566                      NaN                NaN
592                      NaN                NaN
618                      NaN                NaN
638                      NaN                NaN
660   ES64486242687498676458                NaN
686   ES73127478276569346108                NaN
740   ES60630296629490739626                NaN
753                      NaN                NaN
800                      NaN          servicios
901                      NaN                NaN
905                      NaN                NaN
1197                     NaN                NaN
1256                     NaN                NaN
1264                     NaN                NaN
1430                     NaN                NaN
1612                     NaN                NaN
1709                     NaN                NaN
1985                     NaN                NaN
2974  ES49031216137711028239                NaN
5537                     NaN                NaN
5764  ES30340489273349059698                NaN
5858                     NaN                NaN

In [ ]:
print("4. ¿APARECE 'SUDÁFRICA' EN LA COLUMNA DE CIUDADES?")
existe_sudafrica = 'Sudáfrica' in df['ciudad'].unique()
print(f"La ciudad 'Sudáfrica' existe en los datos: {existe_sudafrica}")
print("\n")

4. ¿APARECE 'SUDÁFRICA' EN LA COLUMNA DE CIUDADES?
La ciudad 'Sudáfrica' existe en los datos: False

In [ ]:
print("5. PROMEDIO DE MONTO EN RETIROS")
promedio_retiro = df[df['tipo_transaccion'] == 'retiro']['monto'].mean()
print(f"El monto promedio de retiro es: {promedio_retiro:,.2f}")
print("\n")

5. PROMEDIO DE MONTO EN RETIROS
El monto promedio de retiro es: 24,861.53

In [ ]:
print("6. MAYOR RETIRO REGISTRADO")
mayor_retiro = df[df['tipo_transaccion'] == 'retiro']['monto'].max()
print(f"El mayor retiro registrado es por: {mayor_retiro:,.2f}")
print("\n")

6. MAYOR RETIRO REGISTRADO
El mayor retiro registrado es por: 49,986.96

In [ ]:
print("7. DEPÓSITOS ENTRE 20,000 Y 35,000")
depositos_rango = df[(df['tipo_transaccion'] == '') & (df['monto'].between(20000, 35000))]
print(depositos_rango)
print("\n")

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-3276017406.py, line 2)

In [ ]:
print("8. CONTEO POR TIPO DE DIVISA")
conteo_por_divisa = df.groupby('divisa').size()
print(conteo_por_divisa)
print("\n")

8. CONTEO POR TIPO DE DIVISA
divisa
EUR    3334
MXN    3325
USD    3341
dtype: int64

In [ ]:
print("9. CONVERSIÓN DE EUROS (EUR) A DÓLARES (USD)")

df_modificado = df.copy()
filtro_usd = df_modificado['divisa'] == 'EUR'
df_modificado.loc[filtro_usd, 'divisa'] = 'USD'

print(df_modificado[filtro_usd])
print("\n")

9. CONVERSIÓN DE EUROS (EUR) A DÓLARES (USD)
      id_transaccion  id_cliente    nombre_cliente           cuenta_origen  \
6                  7        5626      Lisa Jackson  ES12648756717578627874
8                  9        6669     Barbara Davis  ES10770301622437194931
11                12        7657     Vincent Adams  ES75244429530637829860
13                14        4819  Bethany Rich PhD  ES72793868836071840791
16                17        7980     Kenneth Young  ES56324307404472433024
...              ...         ...               ...                     ...
9991            9992        4223  Cassandra Hebert  ES42339526393911948202
9993            9994        2490       Samuel Shaw  ES12072330555740273301
9994            9995        8328       Tracy Meyer  ES47060772238602372178
9995            9996        1840     Joseph Benson  ES48740121560683100545
9996            9997        5824   James Gutierrez  ES58203885511634208677

           fecha     monto divisa tipo_transaccion       ciudad  \
6     12/06/2025    132.42    USD    transferencia    Queretaro
8     28/08/2025  41811.10    USD    transferencia       Merida
11    12/05/2025  35360.16    USD    transferencia         Leon
13    09/05/2025  48485.84    USD           compra    Queretaro
16    18/07/2025  41277.81    USD           compra    Monterrey
...          ...       ...    ...              ...          ...
9991  15/05/2025  40365.69    USD           retiro  Guadalajara
9993  23/08/2025   9376.65    USD           retiro      Tijuana
9994  18/06/2025  45492.74    USD           retiro       Merida
9995  05/07/2025  23022.17    USD    transferencia         CDMX
9996  03/06/2025  22772.42    USD    transferencia         CDMX

              cuenta_destino categoria_comercio
6     ES21250734365314750679                NaN
8     ES32533519872846861209                NaN
11    ES89202985922603674720                NaN
13                       NaN        restaurante
16                       NaN          servicios
...                      ...                ...
9991                     NaN                NaN
9993                     NaN                NaN
9994                     NaN                NaN
9995  ES76666887454936063605                NaN
9996  ES45068283304591889577                NaN

[3334 rows x 11 columns]